

:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }

  body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Press Start 2P';
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }

  .header {
    padding: 20px 0;
    padding-bottom: 50px;
    margin-left: 10px;
  }
  
  .title {
    text-align: left;
    font-size: 30px;
  }

  canvas {
    margin-left: 25px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    border: 3px solid #000000;
    }

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 305px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(0, 0, 0); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flexbox;
}

.sidenav a {
  padding: 5px 8px 5px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav #nname {
  font-size: 35px;
}

.sidenav #aabout {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: flex;
}

.sidenav a:hover, #nname:hover {
  color: #f1f1f1;
}


#main {
  margin-left: 305px; /* Same as the width of the sidebar */
  margin-top: 35px;
  padding: 0px 10px;
  display: flexbox;
}

#main.showtv .tv-box {
  display: block;
  object-fit: contain;
}


#content {
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tv-content {
  display: none;
}

.tv-box {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: none;
  border: 3px solid #000000;
  object-fit: contain;
}

img {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  max-width: 98%;
  max-height: 100%;
}

#sketch-holder {
}
