

:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }

  body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Press Start 2P';
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }

  .header {
    padding: 20px 0;
    padding-bottom: 50px;
    margin-left: 10px;
  }
  
  .title {
    text-align: left;
    font-size: 30px;
  }


  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
  }

  .frame {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  canvas {
   
    margin-left: 330px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
   
    display: block;
    border: 3px solid #000000;
    }

 
    /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 305px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display:flexbox;
}

/* The navigation menu links */

.sidenav nname {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  display: flex;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 305px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  display: flexbox;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
